*, *:before, *:after {
  box-sizing:border-box;
}

body {
  background-color: white;
  font-size: 12px;
  width: 100%;
  font-family:roboto;
}

h1 {
  font-size: 1.8em;
  font-weight:800;
  text-align:center;
  padding-bottom: 25px;
  padding-top:20px;
  color:white;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
}
h4 {
  font-weight:lighter;
}
h6{
  padding: 5px 0 0 365px;
  color: white;
}

img {
  width: 400px;
}

.lines {
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid black;
  /* remove once add dots? */
}

.lines:hover {
  background-color:#a9a9a9
}


.eta h5 {
  font-size:1.2em;
  font-weight:lighter;
}


#banner {
  width: 400px;
  height: 20px;
  position:absolute;
  background: #2140AB;
  top: 0;
}

#tabBar {
  width: 400px;
  height: 50px;
  background: white;
  position:absolute;
  top: 713px;
}

.boxed {
  background-color: #345EEB;
  width: 400px;
  height: 80px;
}

.fa-wifi {
  position:absolute;
  padding: 5px 0 0 325px;
  color: white;
}

.fa-battery-three-quarters {
  position:absolute;
  padding: 5px 0 0 345px;
  color: white;
}

.fa-home {
  position:absolute;
  padding: 10px 10px 0 40px;
  font-size:32px;
}

.fa-heart {
  position:absolute;
  padding: 10px 10px 0 185px;
  font-size: 32px;
}

.fa-bus {
  position:absolute;
  padding: 10px 10px 0 325px;
  font-size:32px;
}

@media screen and (min-width: 575px) {
  table {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
table {
  width: 50%;
  }
}
